{% extends 'layouts/base.html' %}

{% block title %} Clientes {% endblock title %}

{% block content %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-6 pt-5 pt-md-8">
    </div>

    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-6">
                  <h3 class="mb-0"><i class="fa fa-user-circle"></i> Clientes</h3>
                </div>
                <div class="col-6 text-right">
                  <a href="{% url 'crear_cliente' %}">
                    <button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo Cliente</button>
                  </a>
                </div>
              </div>
                
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="table_id">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% if not clientes %}
                  <tr>
                    <center>
                      <th>No existen clientes registrados. <a href="{% url 'crear_cliente' %}">&nbsp;&nbsp;<i class="fas fa-plus-circle"></i> Añadir un cliente.</a></th>
                    </center>
                  </tr>
                  {% endif %}
                  {% for cli in clientes %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{cli.id}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      <span class="mb-0 text-sm">{{cli.nombre}}{% if cli.apellido %} {{cli.apellido}}{% endif %}</span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        {{cli.rut}}
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        ${{cli.saldo}}
                      </span>
                    </td>
                    <td>
                      <a class="btn btn-default" href="{% url 'editar_cliente' cli.id %}"><i class="fa fa-edit"></i></a>
                      <button type="button" class="btn btn-danger" onclick="eliminarCliente('{{cli.id}}')"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script type="text/javascript" src="/static/assets/js/plugins/datatable/datatables.js"></script>
<script>
  $(document).ready( function () {
    $('#table_id').DataTable({
      "columnDefs": [
      { "orderable": false, "targets": 4 }
      ]
    }
    );
  } );
</script>

<script>
  function eliminarCliente(id) {
    Swal.fire({
      'title':'¿Desea Eliminar el Cliente?',
      'text':'Esta operación no se puede deshacer.',
      'icon':'question',
      'showCancelButton':true,
      'cancelButtonText':'Cancelar',
      'confirmButtonText':'Eliminar',
      'confirmButtonColor':'red',
      'reverseButtons':true
    })
    .then(function(result) {
      if(result.isConfirmed) {
        window.location.href = "/eliminar_cliente/"+id+"/"
      }
    })
  }
</script>{% endblock javascripts %}
